<section class="container my-5">
    <h1 class="text-center text-uppercase mb-4">Statistics</h1>
    <div class="row g-4">
        <div class="col-lg-6">
            <div class="card shadow">
                <div class="card-body">
                    <h5 class="card-title">Monthly Revenue</h5>
                    <canvas id="revenueChart"></canvas>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card shadow">
                <div class="card-body">
                    <h5 class="card-title">Top 5 Products by Sales</h5>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Book Name</th>
                                <th>Quantity Sold</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% if (topProducts.length> 0) { %>
                                <% topProducts.forEach((product, idx)=> { %>
                                    <tr>
                                        <td>
                                            <%= idx + 1 %>
                                        </td>
                                        <td>
                                            <%= product.bookName %>
                                        </td>
                                        <td>
                                            <%= product.totalQuantity %>
                                        </td>
                                    </tr>
                                    <% }) %>
                                        <% } else { %>
                                            <tr>
                                                <td colspan="3" class="text-center">No sales data available</td>
                                            </tr>
                                            <% } %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>