<!DOCTYPE html>
<footer class="site-footer bg-dark">
    <div class="container">
        <ul class="nav justify-content-center">
            <li class="nav-item"><a class="nav-link" href="#">Privacy Policy</a></li>
            <li class="nav-item"><a class="nav-link" href="/register">Register</a></li>
            <li class="nav-item"><a class="nav-link" href="/login">Login</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Contact</a></li>
        </ul>
        <div class="copy">
            &copy; 2025 Your Bookstore Name. All rights reserved.
        </div>
    </div>
</footer>